body {

  text-align: center;
  font-family: "Lobster";
  color: black;
  font-size: 30px;
  padding: 100px 0;
  background: radial-gradient(#0000FF, #000099, #000044); /* Standard syntax (must be last*/
}

#extra_title {

  font-family: "Lobster";
  color: #AF0000;
  font-size: 35px;
  text-shadow: 1px 1px #FFFF00;
  display:inline;


  
}

h1 {
  font-family: "Lobster";
  color: #AF0000;
  font-size: 300px;
  text-shadow: 3px 3px 2px #FFFF00;
  display:inline;
}

h2 {
  
}

h2:hover {
  color: #AF0000;
  text-shadow: 1px 1px 0px #FFFF00;
}


